<html>
<h2>
    Marketplace
</h2>

<body>
    
<div>
    <div id="bitcoin-de-widget"></div>
<script src="https://bitcoinapi.de/price/widget.js"></script>

<!-- Bitcoin.de - Price Widget - 300x250px, dark -->

<div id="bitcoin-de-widget" data-size="3" data-type="dark" data-bgcolor="#000000"></div>
<script src="https://bitcoinapi.de/price/widget.js"></script>

<a href="https://coinmarketcap.com/currencies/bitcoin/" target="_blank">
    <img src="https://bitcoinapi.de/widget/current-btc-price" alt="Bitcoin.de-Preis">
</a>
</div>
<div>
<div id = "EurUsd">
    <input type = "number" id="base" value = "1">
    <input type="number" id = "usd">
</div>

<div id = "EurCad">
    <input type = "number" id="base" value = "1" name ="Euro">
    <label for = "Euro">Euro</label>
    <input type="number" id = "cad">
</div>

<div id = "EurGbp">
    <input type = "number" id="base" value = "1">
    <input type="number" id = "gbp">
</div>
</div>
</body>

</html>

