<div class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-wrapper">
                    <div class="single-login">
                        <img style="width:50%; padding-top: 5%; padding-bottom: 5%;" src="">
                    </div>
                    <div class="text-center">
                        <img style="width:20%" src="">
                        <h2>HashYourCash</h2>
                    </div>
                    <div class="text-center">
                        <p class="">Tracke deine Einnahmen und Ausgaben</p>
                    </div>
                    <div class="text-center pt-5 mb-20">
                        <h2 class="">Anmelden</h2>
                    </div>

                    <form [formGroup]="formData" class="needs-validation" (submit)="submitForm()">
                        <div class="form-area pt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">E-Mail Adresse</span>
                                </div>
                                <input type="email" class="form-control" placeholder="" aria-label=""
                                    aria-describedby="basic-addon1" formControlName="email" required>
                                <div class="invalid-feedback d-block" *ngIf="formData.controls.email.errors && formValidation==true">
                                    E-Mail Adresse muss angegeben werden
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Passwort</span>
                                </div>
                                <input type="password" class="form-control" placeholder="" aria-label=""
                                    aria-describedby="basic-addon1" formControlName="password" required>
                                <div class="invalid-feedback d-block" *ngIf="formData.controls.password.errors && formValidation==true">
                                    Passwort muss angegeben werden
                                </div>
                            </div>
                            <div *ngIf="wrongPassword != null" class="alert alert-danger" role="alert">{{wrongPassword}}</div>
                            <button type="submit" class="btn btn-secondary btn-block">Einloggen</button>
                            <div style="text-align: center">
                                <a class="text-center pt-3" style="font-size:1.2em;" [routerLink]="'forgotpw'">Passwort vergessen?</a>
                            </div>
                            <br>
                            <h3 class="text-center pt-3">Du besitzt noch kein Konto?</h3>
                            <div style="text-align: center">
                                <a class="text-center pt-3" style="font-size:1.2em;" [routerLink]="'register'">...dann kannst du dich hier registrieren
                                 </a><i class="fa fa-sign-in"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>