<div *ngIf="auth.loggedIn()">
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Erstelle ein neues Wallet</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="walletData" (submit)="createWallet(); modal.dismiss()">
      <div class="form-floating">
        <label for="floatingInput">Wallet Name</label>
        <input type="text" class="form-control" id="floatingInput" formControlName="name" >
      </div>
<br>
      <div class="form-floating">
        <label for="floatingTextarea2">Wallet Beschreibung</label>
        <textarea class="form-control" placeholder="Beschreibe dein Wallet hier" id="floatingTextarea2" formControlName="description" style="height: 100px"></textarea>
      </div>
      <br>
      <div class="input-group mb-3">
        <label for="amount">Setz dein Budget</label>
        <div col-md-3 ms-auto>
          <input type="number" class="form-control" id="amount" formControlName="amount" aria-label="Amount">
        </div>
        <span class="input-group-text">€</span>
      </div>
      <p>Wähle Kategorien für dein Wallet</p>
      <div class="allcats">
      <div class="{{home}} categories">
        <fa-icon [icon]="faHome" size="2x"></fa-icon>
      </div>
      <div class="Auto categories">
        <fa-icon [icon]="faCarSide" size="2x"></fa-icon>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Erstellen</button>
      </div>
    </form>
   
</div>

 
  
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">+</button>
</div>