<div class="login-area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-wrapper">
                    <div class="text-center pt-5 mb-20">
                        <h2>Registrierung</h2>
                        <form [formGroup]="formData" class="needs-validation" (submit)="submitForm()"
                            [ngClass]="{'was-validated':formValidation == true}">
                            <div class="form-area pt-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Vorname</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="basic-addon1" formControlName="first_name" required>
                                    <div class="invalid-feedback">
                                        Vorname muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Nachname</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="basic-addon1" formControlName="last_name" required>
                                    <div class="invalid-feedback">
                                        Nachname muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">E-Mail Adresse</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="basic-addon1" formControlName="email" required>
                                    <div class="invalid-feedback">
                                        E-Mail Adresse muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Passwort</span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="basic-addon1" formControlName="password" required>
                                    <div class="invalid-feedback">
                                        Passwort muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Passwort wiederholen</span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="basic-addon1" formControlName="confirm_password" required>
                                    <div class="invalid-feedback">
                                        Passwort muss wiederholt werden
                                    </div>
                                </div>
                                <div *ngIf="passwordErr != null" class="alert alert-danger" role="alert">{{passwordErr}}
                                </div>
                                <div *ngIf="emailErr != null" class="alert alert-danger" role="alert">{{emailErr}}</div>
                                <button type="submit" class="btn btn-secondary btn-block">Jetzt registrieren</button>
                                <br>
                                <h3 class="text-center pt-3">Bereits registriert?</h3>
                                <div style="text-align: center">
                                    <a class="text-center pt-3" style="font-size:1.2em;"
                                        [routerLink]="''">...dann kannst du dich hier einloggen </a><i class="fa fa-sign-in"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>